<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swy.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.swy.pojo.User">
        insert into user (username, password, email)
        values (#{username}, #{password}, #{email})
    </insert>

    <select id="queryByEmail" resultType="com.swy.pojo.User">
        select *
        from user
        where email = #{email}
    </select>


    <insert id="AddUser" parameterType="com.swy.pojo.User">
        insert into user (username, password, email)
        values (#{username}, #{password}, #{email})
    </insert>


    <insert id="addText" parameterType="com.swy.pojo.Page">
        insert into page (user, email, titles, pages)
        values (#{user},#{email},#{titles},#{pages})
    </insert>

    <update id="updateUser" parameterType="com.swy.pojo.User">
        update user
        set username=#{username},
            password=#{password}
        where email = #{email}
    </update>

    <delete id="deleteInfo" parameterType="int">
        delete
        from user
        where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.swy.pojo.User">
        select *
        from user
    </select>


</mapper>